loguru
mkdocs
pip
python-dotenv
ruff
tqdm
typer
-e .
dvc
pandas
scikit-learn
mlflow
gymnasium
torch
torchvision
seaborn
mkdocs-material
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin

# API Libraries
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
httpx
psutil
pytest
