loguru
mkdocs
pip
python-dotenv
ruff
tqdm
typer
-e .
dvc
pandas
scikit-learn
mlflow
gymnasium
torch
torchvision
seaborn

# API Libraries
fastapi
uvicorn[standard]
pydantic
python-multipart
httpx
psutil